<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>siteName</key>
		<string>99ios</string>
		<key>website</key>
		<string>www.99ios.com</string>
	</dict>
	<dict>
		<key>siteName</key>
		<string>sina</string>
		<key>website</key>
		<string>www.sina.com.cn</string>
	</dict>
</array>
</plist>
